.pokemonListContainer {
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1044px;
    padding: 0;
}

.pokemonContainer {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 24px auto;
    width: 280px;
}

.pokemonImage {
    height: auto;
    margin: 36px 0;
    object-fit: contain;
    width: 60%;
    flex: 1;
    margin: 48px 0;
    width: 80%;
}

.pokemonName {
    color: black;
    font-size: 20px;
    padding: 16px 24px;
}

.pokemonEvolution {
    display: flex;
    flex-wrap: wrap;
}

.pokemonEvolution .pokemonContainer {
    width: 100px;
    margin: 12px;
    border: 0;
}

.pokemonEvolution .pokemonImage {
    margin: 12px;
}

.pokemonEvolution .pokemonName {
    font-size: 12px;
}

.detailContainer {
    display: flex
}

.statContainer {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 24px;
    width: 280px;
    flex: 1;
    padding-bottom: 0.83em;
}